extends layouts/main

block content
    .form-container
        form(action=`${routes.users}${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="현재 비밀번호")
            input(type="password", name="newPassword", placeholder="새 비밀번호")
            input(type="password", name="newPassword1", placeholder="새 비밀번호 확인")
            input(type="submit", value="저장하기")